<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Meats Project ">
    <meta name="viewport" content="width=device-width">
    <title>AI Project | rare or welldone</title>

    <link href="\static\css\style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="AI_2021_flask-master\js\script.js"></script>

</head>

<body id="top">
    <div id="wrapper">

        <div id="sidebar">
            <div id="sidebarWrap">
                <h1><img src="\static\images\logo5.png" width="100" height="40" alt="logo"></h1>
                <nav id="mainnav">
                    <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
                    <div class="panel">
                        <ul>
                            <li><a href="#top">TOP</a></li>
                            <li><a href="#sec01">MESSAGE</a></li>
                            <li><a href="#sec02">PROJECT</a></li>
                            <li><a href="#sec03">TOOLS</a></li>
                            <li><a href="#sec04">MEMORY</a></li>
                            <li><a href="#sec05">SUN MOON UNIVERSITY</a></li>
                        </ul>
                        <ul id="sns">
                            <li>
                                <!-- <img src="\static\css\6.jpg" width="100%" height=6 00px class="d-block w-100" alt="..."> -->
                                <a href="#" target="_blank"><img src="\static\images\iconFb.png" width="20" height="20" alt="FB"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><img src="\static\images\iconTw.png" width="20" height="20" alt="twitter"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><img src="\static\images\iconInsta.png" width="20" height="20" alt="Instagram"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><img src="\static\images\iconYouTube.png" width="20" height="20" alt="You Tube"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div id="content">
            <p id="mainImg"><img src="\static\images\meat1.png" alt=""></p>
            <!-- MESSAGE -->
            <section id="sec01">
                <header>
                    <h2><span>MESSAGE</span></h2>
                </header>
                <div class="innerS">
                    <center>많은 분들에게 고기를 안전하고</center>
                    <center>맛있게 먹을 수 있도록 하는 것이</center>
                    <center>저희 목표입니다.</center>
                </div>
            </section>
            <!-- // MESSAGE -->
            <!-- PROJECT -->
            <section id="sec02">
                <header>
                    <h2><span>PROJECT</span></h2>
                </header>
                <div class="inner">
                    <ul id="gallery">
                        <li class="full"><img src="\static\images\meat7.png" width="1080" height="695" alt=""></li>
                    </ul>
                </div>
            </section>
            <!-- // PROJECT -->
            <!-- SUPPORT TOOLS -->
            <section id="sec03">
                <header>
                    <h2><span>SUPPORT TOOLS</span></h2>
                </header>
                <div class="inner">
                    <ul class="col4">
                        <li>
                            <p class="img"><img src="\static\images\iconGithub.png" width="168" height="168" alt=""></p>
                            <p> Github</p>
                        </li>
                        <li>
                            <p class="img"><img src="\static\images\iconSlack.png" width="168" height="168" alt=""></p>
                            <p> Slack</p>
                        </li>
                        <li>
                            <p class="img"><img src="\static\images\iconJira.png" width="168" height="148" alt=""></p>
                            <p> Jira</p>
                        </li>
                        <li>
                            <p class="img"><img src="\static\images\iconZoom.png" width="168" height="168" alt=""></p>
                            <p> Zoom</p>
                        </li>
                    </ul>
                </div>
                <h2><span>Frontend & Backend</span></h2>
                </header>
                <div class="inner">
                    <ul class="col4">
                        <li>
                            <p class="img"><img src="\static\images\iconFrontend.png" width="500" height="500" alt=""></p>
                        </li>
                        <li>
                            <p class="img"><img src="\static\images\iconPython.png" width="500" height="500" alt=""></p>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- // SUPPORT TOOLS -->
            <!-- MEMORY -->
            <section id="sec04">
                <header>
                    <h2><span>MEMORY</span></h2>
                </header>
                <div class="inner">
                    <div class="article">
                        <img src="\static\images\image1.png" width="370" height="224" alt="">
                        <p>2020.05.13.</p>
                    </div>
                    <div class="article">
                        <img src="\static\images\image2.png" width="370" height="224" class="d-block w-100" alt="" class="d-block w-100" alt="">
                        <p>2020.05.15.</p>
                    </div>
                    <div class="article">
                        <img src="\static\images\image3.png" width="370" height="224" class="d-block w-100" alt="" class="d-block w-100" alt="">
                        <p>2020.05.20.</p>
                    </div>
                    <div class="article">
                        <img src="\static\images\image5.png" width="370" height="224" class="d-block w-100" alt="" class="d-block w-100" alt="">
                        <p>2020.06.02.</p>
                    </div>
                    <div class="article">
                        <img src="\static\images\image7.png" width="370" height="224" class="d-block w-100" alt="" class="d-block w-100" alt="">
                        <p>2020.06.02.</p>
                    </div>
                    <div class="article">
                        <img src="\static\images\image6.png" width="370" height="224" class="d-block w-100" alt="" class="d-block w-100" alt="">
                        <p>2020.06.04.</p>
                    </div>
                </div>
            </section>
            <!-- // MEMORY -->
            <!-- Sun Moon University -->
            <section id="sec05">
                <header>
                    <h2><span>Sun Moon University</span></h2>
                </header>
                <div class="inner">
                    <ul class="col2">
                        <li>
                            <p>Established: 1989</p>
                            <p>President: Sun Jo Hwang</p>
                            <p>Address:</p>
                            <p>100, Kalsan-ri, Tangjeong-myeon, Asan-si,</p>
                            <p>336-708 Chungcheongnam-do, South Korea,</p>
                            <p> Asan, South Korea South Korea</p>
                            <p>Website: http://tulip.sunmoon.ac.kr/english/main.do</p>
                        </li>
                        <li>
                            <div id="map">
                                <!-- NAVER MAP -->
                                <iframe src="https://map.naver.com/v5/entry/place/11591584?c=14145447.9898500,4411147.3249289,15,0,0,0,dh" allowfullscreen></iframe>
                                <!-- // NAVER MAP -->
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- // Sun Moon University -->

            <footer id="footer">
                2021. AI Project. Gayoung, Hyein, Yuika.
            </footer>

        </div>
    </div>

</body>

</html>