<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Is the meat cooked through?</title>
    <link rel="stylesheet" href="..\static\css\stylesheet.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <div class="header-box">
        <a class="header-box__logo" href="#">MEAT</a>
    </div>
    <div class="header__link-box-wrapper">
        <div class="header__link-box">
            <!-- <a href="AI_2021_flask-master\templates\home1.html"><i class="fas fa-home fa-lg"></i></a> -->
            <a href="AI_2021_flask-master\templates\home2.html"><i class="fas fa-home fa-lg"></i></a>
            <!-- <a href="AI_2021_flask-master\templates\home2.html"><i class="fas fa-info-circle fa-lg"></i></a> -->
            <!-- <a href="https://github.com/AI-Sunmoon2021"><i class="fab fa-github fa-lg"></i></a> -->
        </div>
    </div>
    <div class="main">
        <div class="main__explain-box">
            <h2 class="main__header-content"> 당신의 고기는 잘 익혔습니까?</h2>
            <div class="main__explain-content">
                <p id="mainImg"><img src="\static\images\meat8.png" alt=""></p>
                <!-- <p class="img"><img src="\static\images\meat8.png" width="500" height="500" alt=""></p> -->
                <p>안 익힌 고기는 몸에 안 좋습니다. <br> 잘 익혔는지 확인하세요!</p>
            </div>

        </div>
        <div id="image-preview">
        </div>

        <form method="POST" enctype="multipart/form-data">
            <div class="image-box">
                <p>이미지를 업로드 해주세요</p>
                <input class="file_choose" type="file" name="file" onchange="setThumbnail(event);">
            </div>

            <input class="submit-btn" value="submit!" type="submit">
        </form>

        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <small>&copy; 2021. AI Project. Gayoung, Hyein, Yuika.</small>
    </footer>
    <script type="text/javascript">
        console.log("good");

        function setThumbnail(event) {
            var reader = new FileReader();
            reader.onload = function(event) {
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                document.querySelector("div#image-preview").appendChild(img);
                document.querySelector(".image-box p").remove();
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>